# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
htmlcov/
.pytest_cache/

# mypy
.mypy_cache/

# Pyre type checker
.pyre/

# Pytype static type analyzer
.pytype/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.local/

# PyCharm
.idea/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# macOS files
.DS_Store

# Windows files
Thumbs.db

# Sphinx documentation
docs/_build/

# Build artifacts
*.manifest
*.spec
*.pickle

# C extensions
*.so

# Static and media files (for Django)
staticfiles/
media/

# Logs
*.log

# Temporary files
*.tmp
*.temp
*/.idea
agent-api/.idea
